/* Globale Stile */
body {
    background-color: red;
    color: white;
  }
  
  /* Stile für die Überschrift */
  .headline {
    color: yellow;
  }
  
  /* Stile für die Liste */
  .list-view {
    list-style-type: none;
    border: 2px solid gray;
  }
  
  /* Stile für den Button */
  .add-item {
    color: blue;
    background-color: green;
  }
  
  .add-item:hover {
    color: green;
    background-color: blue;
  }
  